.wp-block-cno-modal {
	top: 50%;
	translate: 0% -50%;
	border: 0;
	padding: 0;
	max-width: var(--bs-modal-width, 500px);

	@media screen and (width >= 576px) {
		min-width: 600px;
	}

	@media screen and (width >= 992px) {
		--bs-modal-width: 800px;
	}

	@media screen and (width >= 1200px) {
		--bs-modal-width: 1140px;
	}

	&::backdrop {
		background-color: rgb(0 0 0 / 50%);
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		border-bottom: 1px solid var(--cno-primary);
	}

	&__title {
		margin-bottom: 0;
	}

	&__body {
		padding: 1rem;
	}
}
