@mixin link-styles {
	color: var(--wp--preset--color--primary);
	text-decoration-color: transparent;
	transition: text-decoration-color var(--wp--custom--transition--standard);

	&:hover,
	&:active,
	&:focus {
		text-decoration-color: var(--wp--preset--color--primary-light);
	}

	&::after {
		content: "";
		position: absolute;
		inset: 0;
	}
}

.wp-block-cno-nested-services {
	.parent-title {
		font-weight: 700;
		display: inline-flex;
		gap: 0.5rem;
		align-items: center;
		font-size: var(--wp--preset--font-size--base);

		&:not(a) {
			color: var(--wp--preset--color--dark);
		}
	}

	hr {
		margin-block: var(--wp--preset--spacing--sm)
			var(--wp--preset--spacing--base);
	}

	a.parent-title {
		position: relative;

		@include link-styles;
	}

	p {
		margin: 0;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: flex;
		position: relative;
		gap: 0.5rem;
		align-items: center;

		&:not(.active) {
			color: var(--wp--preset--color--primary);
		}

		a {
			@include link-styles;
		}
	}
}
