@use "./button-styles" as *;

.wp-block-cno-acf-locations {
	--gap: 1rem;

	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	align-items: stretch;
	gap: var(--gap);

	a {
		@extend %button-styles;

		text-decoration: none;
	}
}

.location-card {
	background-color: white;
	border: 1px solid var(--wp--preset--color--gray-light);
	display: flex;
	flex-direction: column;
	align-items: stretch;

	.single-location & {
		flex: 1 1 100%;
		flex-flow: row wrap;

		img {
			flex: 1 1 50%;

			@media (width > 921px) {
				height: 100%;
			}
		}
	}

	img {
		aspect-ratio: 16 / 9;
		object-fit: cover;
		width: 100%;
	}

	&__body {
		flex-grow: 1;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}
}

.location-title {
	font-size: var(--wp--preset--font-size--lg);
	text-transform: uppercase;
	color: var(--wp--preset--color--primary);
}

.directions-button {
	background-color: var(--wp--preset--color--primary);
	color: white;
	border-color: var(--wp--preset--color--primary);

	&:hover,
	&:focus,
	&:active {
		background-color: transparent;
		color: var(--wp--preset--color--primary);
		border-color: var(--wp--preset--color--primary);
	}
}

.call-button {
	background-color: transparent;
	color: var(--wp--preset--color--primary-light);
	border-color: var(--wp--preset--color--primary-light);

	&:hover,
	&:focus,
	&:active {
		background-color: var(--wp--preset--color--primary-light);
		color: white;
		border-color: var(--wp--preset--color--primary-light);
	}
}
