@use "sass:color";

@mixin inherit-values {
	$values: (
		font-family,
		font-size,
		font-weight,
		line-height,
		text-transform,
		color,
		text-box
	);

	@each $value in $values {
		#{$value}: inherit !important;
	}
}

@mixin button-styles {
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	min-height: 50px;
	height: auto;
	flex: 1 0 auto;
	max-width: 990px;
	background-color: hsl(
		var(--btn-color--h) var(--btn-color--s) var(--btn-color--l)
	);
	border: none;
	padding-left: 3rem;
	padding-right: 1rem;
	transition: background-color var(--transition--standard);

	&__content {
		font-size: var(--wp--preset--font-size--base, 1.35rem);
		line-height: 1.2;
		font-weight: 600;
		text-align: left;
		padding-block: 0.75rem;
		text-box: trim-both cap alphabetic;
		text-transform: uppercase;
		color: white;
		font-family: var(--wp--preset--font-family--headings);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: var(--wp--preset--spacing--xs, 0.25rem);

		p {
			@include inherit-values;

			margin: 0;

			a {
				@include inherit-values;

				text-decoration: none;

				&::after {
					content: "";
					position: absolute;
					inset: 0;
					z-index: 1;
				}
			}
		}
	}

	&__diamond {
		--position: -135px;

		aspect-ratio: 1;
		background: var(--btn-bg-color);
		border: 10px solid
			hsl(var(--btn-color--h) var(--btn-color--s) var(--btn-color--l));
		outline: 2px solid var(--btn-bg-color);
		position: absolute;
		transform: rotate(-45deg) translate(var(--position), var(--position));
		transform-origin: center;
		transition: border-color var(--transition--standard);
		width: 150px;
		z-index: 3;

		.editor-styles-wrapper & {
			--position: -152px;
		}
	}

	&:has(a) {
		&:hover,
		&:focus-visible,
		&:active {
			background-color: hsl(
				var(--btn-color--h) var(--btn-color--s)
					calc(var(--btn-color--l) + 10%)
			);

			.wp-block-cno-diamond-button__diamond {
				border-color: hsl(
					var(--btn-color--h) var(--btn-color--s)
						calc(var(--btn-color--l) + 10%)
				);
			}
		}
	}
}
